<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julius.eventmanager"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.julius.eventmanager.SEND_EVENTLIST_NOTIFICATIONS" />
    <uses-permission android:name="com.julius.eventmanager.RECEIVE_EVENTLIST_NOTIFICATIONS" />

    <permission
        android:name="com.julius.eventmanager.SEND_EVENTLIST_NOTIFICATIONS"
        android:description="@string/send_eventlist_notifications_permission_description"
        android:label="@string/send_eventlist_notifications_permission_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission
        android:name="com.julius.eventmanager.RECEIVE_EVENTLIST_NOTIFICATIONS"
        android:description="@string/receive_eventlist_notifications_permission_description"
        android:label="@string/receive_eventlist_notifications_permission_label"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <application
        android:name="EventManagerApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EventListActivity"
            android:label="@string/title_activity_event_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrefsActivity" >
        </activity>

        <service android:name=".EventManagerService" >
        </service>

        <receiver android:name="EventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.julius.eventmanager.REFRESH_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>